<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Template</title>
</head>

<body>
    <!-- <div style='display: flex; justify-content: center; align-items: center; flex-direction: column;'> -->
        <h1>Welcome to the Text Analyzer</h1>
        <form action='/analyze' method='get'>
            <textarea name="text" placeholder="Enter your text here" style='margin: 0px; width: 1266px; height: 400px;'></textarea><br>
            <input type="checkbox" name="removepunc"> Remove Punctuations<br>
            <input type="checkbox" name="capitalize"> UPPER CASE<br>
            <input type="checkbox" name="newlineremover"> Remove New Line<br>
            <input type="checkbox" name="extraspaceremover"> Remove Extra Spaces<br>
            <input type="checkbox" name="charcount"> Count number of characters<br>
            <button type="submit" style="display: block;">Analyze Text</button>
        </form>
    <!-- </div> -->
</body>

</html>